/* Aplicação do estilo principal */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin-top: 20px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

input::placeholder {
  color: #888;
  font-style: italic;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.copy-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #218838;
}

pre {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: justify;
  /* Justificar o texto */
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button,
  .copy-button {
    font-size: 0.9rem;
  }
}